@font-face {
    font-family: 'Bud_BoldVN';
    src: url('../fonts/Bud_BoldVN.eot');
    src: url('../fonts/Bud_BoldVN.eot') format('embedded-opentype'),
        url('../fonts/Bud_BoldVN.woff2') format('woff2'),
        url('../fonts/Bud_BoldVN.woff') format('woff'),
        url('../fonts/Bud_BoldVN.ttf') format('truetype'),
        url('../fonts/Bud_BoldVN.svg#Bud_BoldVN') format('svg');
}

/* reset & default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea, select,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; background: transparent; font-size: 100%; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-size: 100%; line-height: 1;}
textarea {font-family: inherit; overflow: auto; vertical-align: top; resize: none}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0;}
table {border-spacing: 0; border-spacing:0;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
a,a:focus,a:hover,button {text-decoration:none; outline:none; color: #fff;}
*{word-break:break-word;}
img,video,iframe,embed {max-width:100%;}
.clearfix {clear:both;}/* clear float */    
/*end reset*/
.disable {opacity: 0.5; filter: alpha(opacity=50);}
input[placeholder], [placeholder], *[placeholder] {
    color:#333 !important;
}
::-webkit-input-placeholder {
    color:#333 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color:#333 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color:#333 !important;
}

:-ms-input-placeholder {  
    color:#333 !important;
}
a,
.hover-transition {
    color: #fff;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
html {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Bud_BoldVN';
    position: relative;
    width: 100%;
    min-height: 100%;
}
.bgFull,
.bgWelcome,
.bgForm,
.bgSinger {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
}
.bgFull {
    background: url(../images/bgFull.jpg) no-repeat 50% 50%;
}
.bgWelcome {
    background: url(../images/bgWelcome.jpg) no-repeat 50% 50%;
}
.bgForm {
    background: url(../images/bgForm.jpg) no-repeat 50% 50%;
}
.bgSinger {
    background: url(../images/bgSinger.jpg) no-repeat 50% 50%;
}
.wrapper {
    z-index: 1;
    max-width: 1750px;
    height: 100vh;
    margin: 0 90px;
}
/* WELCOME */
.logo {
    width: 100%;
    overflow: hidden;
    padding-top: 70px;
    position: relative;
}
.logoBud {
    float: left;
    width: 20%;
}
.hoaam {
    float: right;
    width: 24%;
}
.btn-join {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.btn-join a {
    width: 357px;
    height: 129px;
    background: url(../images/btn_red.png) no-repeat 0 0;
    display: block;
    color: #ff0000;
    font-size: 42px;
    text-align: center;
    line-height: 129px;
}
.btn-join a:hover {
    color: #fff;
}
/* FORM */
.logo-hoaam {
    padding-top: 30px;
    position: relative;
}
.logo-hoaam img {
    margin: 0 auto;
    display: block;
}
.form-submit {
    max-width: 600px;
    max-width: 31.25%;
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.form-submit .form-group {
    padding: 5px 15px;
    border: 3px solid rgba(255,0,0,0.77);
    border-radius: 10px;
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 0 50px rgba(255,0,0,.7)
}
.form-submit .form-group input {
    width: 100%;
    color: #fff;
    font-family: 'Bud_BoldVN';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.form-submit .btn-start button {
    width: 357px;
    height: 129px;
    margin: 2.6vw auto 0;
    display: block;
    border: none;
    background: url(../images/btn_red.png) no-repeat 0 0;
    position: relative;
    font-family: 'Bud_BoldVN';
    font-size: 42px;
    color: #ff0000;
    cursor: pointer;
    -webkit-transition: all 0.25s linear ;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear ;
    -o-transition: all 0.25s linear ;
    transition: all 0.25s linear ;
}
.form-submit .btn-start button:hover {
    color: #fff;
}
/* SINGER */
.title {
    position: relative;
}
.title h2 {
    /*font-size: 68px;*/
    font-size: 3em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto 50px;
    margin: 1vw auto 1.5vw;
}
.note {
    position: relative;
    width: 540px;
    margin: 0 auto;
}
.note h5 {
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
}
.choose-singer {
    text-align: center;
    overflow: hidden;
}
.item-choose {
    width: 284px;
    /*width: 14.79vw;*/
    /*float: left;*/
    display: inline-block;
    margin: 10px -15px;
    position: relative;
    overflow: hidden;
}
.item-choose .shine {
    -webkit-transform: skewX(-18deg);
    transform: skewX(-18deg);
    position: absolute;
    bottom: 2px;
    left: 36px;
    width: 210px;
    height: 222px;
    z-index: 1;
    overflow: hidden;
}
.item-choose .shine span {
    width: 210px;
    height: 222px;
    display: block;
}
/* Shine */
.hover-shine {
    position: relative;
}
.hover-shine::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
}
.hover-shine:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
/* LOADING */
.bgLoading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    z-index: 10;
    display: none;
}
.loading {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.loader {
    position: absolute;
    opacity: .7;
}
.loader circle {
    animation: draw 4s infinite ease-in-out;
    transform-origin: center;
    transform: rotate(-90deg);
}
.loader-2 circle,
.loader-6 circle {
    animation-delay: 1s;
}
.loader-7 circle {
    animation-delay: 2s;
}
.loader-4 circle, 
.loader-8 circle {
    animation-delay: 3s;
}

.loader-3 {
    left: -150px;
    transform: rotateY(180deg);
}
.loader-6,
.loader-7,
.loader-8 {
    left: -150px;
    transform: rotateX(180deg) rotateY(180deg);
}
.loader-5 circle {
    opacity: .2;
}
@keyframes draw {
    50% {
        stroke-dashoffset: 0;
        transform: scale(.5);
    }
}
.bgWelcome.bgThank {
    background: none;
    height: 100vh;
    overflow: hidden;
}
.bgWelcome.bgThank img {
    display: block;
    height: 100%;
	min-width: 100%;
}
.text-thank {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0px;
}
.text-thank img {
    display: block;
    width: 39vw;
    margin: 0 auto;
}
@media screen and (max-width: 1600px) {
    .wrapper {
        margin: 0 75px;
    }
    .bgWelcome {
        background: url(../images/bgWelcome_1600.jpg) no-repeat 50% 50%;
    }
    .bgForm {
        background: url(../images/bgForm_1600.jpg) no-repeat 50% 50%;
    }
    .bgSinger {
        background: url(../images/bgSinger_1600.jpg) no-repeat 50% 50%;
    }
    .item-choose {
        width: 240px;
    }
    .item-choose .shine {
        left: 26px;
        width: 180px;
        height: 195px;
    }
    .item-choose .shine span {
        width: 180px;
        height: 195px;
    }
    .logo {
        padding-top: 50px;
    }
    .title h2 {
        /*font-size: 68px;*/
        font-size: 2em;
        margin: 10px auto 30px;
    }
}

/*facebook*/
.face {

}
.face .bgWelcome.bgThank img{
    height: 100%;
}
/*end-facebook*/
@media (max-width: 1366px) {
    .wrapper {
        margin: 0 65px;
    }
    .form-submit {
        bottom: 10px;
    }
    .form-submit .btn-start button {
        margin: 1.6vw auto 0;
    }
    .btn-join {
        bottom: 30px;
    }
    .bgWelcome {
        background: url(../images/bgWelcome_1366.jpg) no-repeat 50% 50%;
    }
    .bgForm {
        background: url(../images/bgForm_1366.jpg) no-repeat 50% 50%;
    }
    .bgSinger {
        background: url(../images/bgSinger_1366.jpg) no-repeat 50% 50%;
    }
    .item-choose {
        width: 200px;
        margin: 10px -10px;
    }
    .item-choose .shine {
        left: 26px;
        width: 150px;
        height: 165px;
    }
    .item-choose .shine span {
        width: 150px;
        height: 165px;
    }
    .form-submit .btn-start button,
    .btn-join a {
        width: 237px;
        height: 89px;
        background-size: contain;
        font-size: 26px;
        line-height: 89px;
    }
    .logo {
        padding-top: 40px;
    }
    .logo-hoaam img {
        width: 27%;
    }
    .title h2 {
        /*font-size: 68px;*/
        font-size: 2em;
    }

}
@media screen and (max-width: 1280px) {
    .wrapper {
        margin: 0 60px;
    }
    .form-submit {
        bottom: 15px;
    }
    .bgWelcome {
        background: url(../images/bgWelcome_1280.jpg) no-repeat 50% 50%;
    }
    .bgForm {
        background: url(../images/bgForm_1280.jpg) no-repeat 50% 50%;
    }
    .bgSinger {
        background: url(../images/bgSinger_1280.jpg) no-repeat 50% 50%;
    }
    .logo {
        padding-top: 30px;
    }

}
@media screen and (max-width: 810px) {
    .wrapper {
        margin: 0 40px;
    }
    .bgWelcome {
        background: url(../images/bgWelcome_810.jpg) no-repeat 50% 50%;
    }
    .bgForm {
        background: url(../images/bgForm_810.jpg) no-repeat 50% 50%;
    }
    .bgSinger {
        background: url(../images/bgSinger_810.jpg) no-repeat 50% 50%;
    }
    .form-submit .btn-start button,
    .btn-join a {
        width: 187px;
        height: 69px;
        background-size: contain;
        font-size: 20px;
        line-height: 69px;
    }
    .item-choose {
        margin: 10px -9px;
    }
    .item-choose {
        width: 120px;
    }
    .item-choose .shine {
        left: 16px;
        width: 90px;
        height: 95px;
    }
    .item-choose .shine span {
        width: 90px;
        height: 95px;
    }
    .logo {
        padding-top: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .item-choose {
        width: 180px;
    }
    .choose-singer {
        padding-top: 20px;
    }
}